{% extends "base.html" %}

{% block title %}{{const_name}} Details{% endblock %}

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{const_name}} Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <h1 class="mb-4">{{const_name}} Details</h1>
</head>
{% endblock %}
{% block content %}
<body>

<div class="container mt-4">


    <h1 style="color: white" class="mb-4">Best Performances: <em>{{const_name}}</em> - Top 10 Races and Points</h1>


    <table class="table table-bordered">
        {% if raceInfos %}
        <thead>
            <tr>
                <th>Race Year</th>
                <th>Race Id sonradan siilicem</th>
                <th>Race Name</th>
                <th>Circuit Name</th>
                <th>Race Points</th>
            </tr>
        </thead>
        <tbody>
            {% for raceInfo in raceInfos %}
                <tr>
                    <td>{{raceInfo.year}}</td>
                    <td>{{raceInfo.raceId }}</td>                    
                    <td>{{raceInfo.r_name }}</td>
                    <td>{{raceInfo.c_name}}</td>
                    <td>{{raceInfo.points }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <strong style="color:white">No results found!</strong>
        {% endif %}
    </table>

    
</div>


</body>
{% endblock %}