<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{const_name}} Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container mt-4">

    <h1 class="mb-4">Best Performances: <em>{{const_name}}</em> - Top 10 Races and Points</h1>

    <table class="table table-bordered">
        {% if raceInfos %}
        <thead>
            <tr>
                <th>Race Year</th>
                <th>Race Id</th>
                <th>Race Name</th>
                <th>Circuit Name</th>
                <th>Race Points</th>
            </tr>
        </thead>
        <tbody>
            {% for raceInfo in raceInfos %}
                <tr>
                    <td>{{raceInfo.year}}</td>
                    <td>{{raceInfo.raceId }}</td>                    
                    <td>{{raceInfo.r_name }}</td>
                    <td>{{raceInfo.c_name}}</td>
                    <td>{{raceInfo.points }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <strong>No results found!</strong>
        {% endif %}
    </table>

    
</div>


</body>
</html>
