{% extends "base.html" %}

{% block title %}Create Constructor{% endblock %}

{% block header %}
<head>

    <div class="header-container">
        <h1><a class="home-button" href="{{ url_for('index') }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/1920px-F1.svg.png" alt="Formula1 Logo"></a></h1>
    </div>

    <meta charset="utf-8">
    <title>Create Constructor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
{% endblock %}

{% block content %}
<body>
    <h1 style="color: white">Create Constructor</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form class="create" method="post" action="{{ url_for('constructors.create') }}">
        <label for="constructorId">Constructor ID:</label>
        <input class="create-input" type="text" id="constructorId" name="constructorId" required>

        <label for="constructorRef">Constructor Ref:</label>
        <input class="create-input" type="text" id="constructorRef" name="constructorRef" required>

        <label for="name">Name:</label>
        <input class="create-input" type="text" id="name" name="name" required>

        <label for="nationality">Nationality:</label>
        <input class="create-input" type="text" id="nationality" name="nationality" required>

        <label for="url">Url:</label>
        <input class="create-input" type="text" id="url" name="url" required>


        <button type="submit">Create</button>
    </form>
</body>
{% endblock %}