<!-- drivers.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drivers</title>
</head>
<body>

  <h1>Drivers List</h1>

  <table border="1">
    <thead>
      <tr>
        <th>Driver ID</th>
        <th>Driver Reference</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Nationality</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
        <tr>
          <td>{{ post['driverId'] }}</td>
          <td>{{ post['driverRef'] }}</td>
          <td>{{ post['forename'] }}</td>
          <td>{{ post['surname'] }}</td>
          <td>{{ post['nationality'] }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
