{% extends "base.html" %}

{% block title %}Races{% endblock %}

{% block header %}
<head>
    <div class="header-container">
        <h1><a class="home-button" href="{{ url_for('index') }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/1920px-F1.svg.png" alt="Formula1 Logo"></a></h1>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Races Search</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../static/races_scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
{% endblock %}
{% block content %}
<body>
    <h1 style="color: white" >Races</h1>

    <form action="/races" method="get">
        <label style="color: white" for="search">Search:</label>
        <input class ="search-input" type="text" id="search" name="search" placeholder="Turkey Grand Prix" value="{{ search_term }}">
        <button type="submit">Search</button>
        <button type="button" onclick="toggleAdvancedSearch()">Advanced Search</button>

        <div id="advanced-search" style="display: none;">
            <label style="color: white"  for="year">Year:</label>
            <select id="year" name="Year">
                <option value="" {% if not selected_year %}selected{% endif %}>All</option>
                {% for year in distinct_years %}
                    <option value="{{ year }}" {% if selected_year == year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
    
            <label style="color: white" for="Country">Country:</label>
            <select id="country" name="Country">
                <option value="" {% if not selected_country %}selected{% endif %}>All</option>
                {% for country in distinct_countries %}
                    <option value="{{ country }}" {% if selected_country == country %}selected{% endif %}>{{ country }}</option>
                {% endfor %}
            </select>
        </div>
    
       
    </form>

    {% if results %}
    <table class="table-container">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Country</th>
                {% if g.user %}
                <th>Delete</th>
                <th>Edit</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr class="race-row edit-{{loop.index}} update-row" data-race-id="{{ result[10] }}" data-circuit-id="{{ result[11] }}">
                    <td class="editable" onclick="toggleDetails({{ loop.index }}) "><span>{{ result[0] }}</span>
                        <input id="r_name" type="text" class="update-input" value="{{ result[0] }}" style="display: none;">
                    </td>
                    <td class="editable"><span>{{ result[1] }}</span>
                        <input id="r_year" type="text" class="update-input" value="{{ result[1] }}" style="display: none;">
                    </td>
                    <td class="editable"><span>{{ result[5] }}</span>
                        <input id="c_country" type="text" class="update-input" value="{{ result[5] }}" style="display: none;">
                    </td>
                    {% if g.user %}
                    <td class="edit-button-td">
                    <input type="checkbox" onclick="handleCheckboxClick(this)">
                    </td>
                    <td class="edit-button-td">
                    <button class="edit-button" type="button" onclick="handleButtonClick(this,{{  loop.index}})">Edit</button>
                    </td>
                    {% endif %}
                </tr>
                {% include 'details.html' %}

            {% endfor %}
        </tbody>
    </table>

    
    <input type="hidden" id="race_ids" name="race_ids">

    {% endif %}


    <nav class="pagination-drivers">

        {% if page > 10 %}
            <a class="previous-button" href="?search={{ search_term }}&year={{ selected_year }}&country={{ selected_country }}&page={{ page - 10 }}">Previous 10</a>
        {% endif %}

        {% if page > 1 %}
            <a class="previous-button" href="?search={{ search_term }}&year={{ selected_year }}&country={{ selected_country }}&page={{ page - 1 }}">Previous</a>
        {% endif %}

        {% set start_page = page - 5 if page - 5 > 0 else 1 %}
        {% set end_page = start_page + 9 if start_page + 9 <= total_pages else total_pages %}

        {% for i in range(start_page, end_page + 1) %}
            {% if i == page %}
                <button class="current-page" disabled>{{ i }}</button>
            {% else %}
                <a class="other-pages" href="?search={{ search_term }}&year={{ selected_year }}&country={{ selected_country }}&page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        

        {% if results|length == RESULTS_PER_PAGE and end_page < total_pages %}
            <a class="next-button" href="?search={{ search_term }}&year={{ selected_year }}&country={{ selected_country }}&page={{ end_page + 1 }}">Next 10</a>
        {% endif %}

        {% if page + 10 <= total_pages %}
            <a class="next-button" href="?search={{ search_term }}&year={{ selected_year }}&country={{ selected_country }}&page={{ page + 10 }}">Next 10</a>
        {% endif %}

        {% if page < total_pages %}
            <a class="next-button" href="?search={{ search_term }}&year={{ selected_year }}&country={{ selected_country }}&page={{ page + 1 }}">Next</a>
        {% endif %}
        {% if g.user %}
        <div class="user-actions">
            <button class="update-button" type="button" onclick="updateBackend()">Update</button>
            <button class="delete-button" type="button" onclick="deleteSelectedRaces()">Delete Selected Races</button>
        </div>
    {% endif %}
    </nav>
    {% if g.user %}
    <form class="create" method="post" action="{{ url_for('races.create') }}">

    <!-- Circuit Section -->
    <label for="c_name">Circuit Name:</label>
    <input class="create-input" type="text" id="c_name" name="c_name" required>

    <label for="c_location">Circuit Location:</label>
    <input class="create-input" type="text" id="c_location" name="c_location" required>

    <label for="c_country">Circuit Location:</label>
    <input class="create-input" type="text" id="c_country" name="c_country" required>

    <label for="c_lat">Circuit Latitude:</label>
    <input class="create-input" type="number" step="any" id="c_lat" name="c_lat">

    <label for="c_lng">Circuit Longitude:</label>
    <input class="create-input" type="number" step="any" id="c_lng" name="c_lng">


    <!-- Race Section -->
    <label for="r_name">Race Name:</label>
    <input class="create-input" type="text" id="r_name" name="r_name" required>

    <label for="r_year">Race Year:</label>
    <input class="create-input" type="number" id="r_year" name="r_year" required>

    <label for="r_date">Race Date:</label>
    <input class="create-input" type="date" id="r_date" name="r_date">

    <label for="r_round">Race Round:</label>
    <input class="create-input" type="number" id="r_round" name="r_round">
  
      <button type="submit">Create</button>

    </form>
    {% endif %}

</body>
</html>
{% endblock %}