{% extends "base.html" %}

{% block title %}Details for {{ name.forename }} {{ name.surname }}{% endblock %}
{% block header %}
<head>
    <div class="header-container">
        <h1><a class="home-button" href="{{ url_for('index') }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/1920px-F1.svg.png" alt="Formula1 Logo"></a></h1>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{const_name}} Details</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    
</head>
{% endblock %}
{% block content %}
<body>
    <h1 style="color: white">{{const_name}} Details for {{ name.forename }} {{ name.surname }}</h1>
<div>
    <h2 style="color: white">General Information</h2>
    <table class="table-container">
        {% if general_info %}
        <thead>
            <tr>
                <th>Forename</th>
                <th>Last Name</th>
                <th>Nationality</th>
                <th>Driver-Ref</th>
                <th>Number</th>
                <th>Code</th>
                <th>Birth Date</th>
                <th>Wiki Page</th>
                <th>Total Points</th>
                <th>Average Fastest Lap Speed</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>{{ general_info.forename }}</td>
                    <td>{{ general_info.surname }}</td>
                    <td>{{ general_info.nationality }}</td>
                    <td>{{ general_info.driverRef }}</td>
                    <td>{{ general_info.number }}</td>
                    <td>{{ general_info.code }}</td>
                    <td>{{ general_info.dob }}</td>
                    <td><a href={{ general_info.url }} style="text-decoration: underline;" target="_blank">Wiki Page</a></td>
                    <td>{{ general_info.sum_of_points }}</td>
                    <td>{{ '%0.2f'|format(general_info.average_fastest_speed) }}</td>


                </tr>
            
        </tbody>
        {% else %}
            <strong>No results found!</strong>
        {% endif %}
    </table>    
    </table>
</div>
    <div>

    
    <h2 style="color: white">Top 10 Races</h2>

    <table class="table-container">
        {% if details %}
        <thead>
            <tr>
                <th>Race Year</th>
                <th>Race Name</th>
                <th>Position</th>
                <th>Best Lap Time</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in details%}
                <tr>
                    <td>{{ detail.year }}</td>
                    <td>{{ detail.name }}</td>
                    <td>{{ detail.position }}</td>
                    <td>{{ detail.time }}</td>
                    <td>{{ detail.points }}</td>

                </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <strong>No results found!</strong>
        {% endif %}
    </table>    
</div>


</body>
{% endblock %}