{% extends "base.html" %}

{% block title %}Drivers{% endblock %}

{% block header %}
<head>
  <div class="header-container">
    <h1><a class="home-button" href="{{ url_for('index') }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/1920px-F1.svg.png" alt="Formula1 Logo"></a></h1>
</div>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drivers</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-MC2CB1nZFz7ZSJlGWeNciFuECM7hA31BlDhzNMz8Tpj2Y6zD8WqUvVLON5khbt6X"
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>

  <script>
    // Define a global variable with the driver details URL
    var driverDetailsUrl = "{{ url_for('drivers.driver_details', driver_id=0, _external=True) }}";
  </script>

  <script src="../../static/scripts.js" defer></script>
</head>
{% endblock %}

{% block content %}
<body>
  
  <h1  style="color: white"  >Drivers</h1>
  
  <form id="searchForm" action="{{ url_for('drivers.index') }}" method="GET" >
    <label  style="color: white"   for="search">Search for Drivers:</label>
    <input class="search-input" type="text" id="search" name="search" placeholder="Enter first name" value="{{search_term}}">
    <input class="search-input" type="text" id="search_surname" name="search_surname" placeholder="Enter last name" value="{{search_term_surname}}">
    <button type="submit">Search</button>

    <button type="button" onclick="toggleAdvancedSearch()">Advanced Search</button>

    <div id="advanced-search" style="display: none;">

      <label style="color: white" for="nationality">Nationality:</label>
      <select id="nationality" name="nationality">
        <option value="" {% if not selected_nationality %}selected{% endif %}>All</option>
        {% if distinct_nationalities %}
        <p>Data exists: {{ distinct_nationalities }}</p>
        {% for nationality in distinct_nationalities %}
        <option value="{{ nationality }}" {% if selected_nationality==nationality %}selected{% endif %}>{{ nationality
          }}</option>
        {% endfor %}
        {% else %}
        <p>No data found</p>
        {% endif %}

      </select>
    </div>
  </form>

  <table class="table-container">
    <thead>
      <tr>
        <th>Driver ID</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Driver Reference</th>
        <th>Nationality</th>
        {% if g.user %}
        <th>Select to Delete</th>
        <th>Select to Edit</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr class="driver-row" data-driver-id="{{ post['driverId'] }}">
        <td>{{ post['driverId'] }}</td>
        <td class="editable">
          <span>{{ post['forename'] }}</span>
          <input id="forename" type="text" class="update-input" value="{{ post['forename'] }}" style="display: none;">
        </td>
        <td class="editable">
          <span>{{ post['surname'] }}</span>
          <input id="surname" type="text" class="update-input" value="{{ post['surname'] }}" style="display: none;">
        </td>
        <td class="editable">
          <span>{{ post['driverRef'] }}</span>
          <input id="driverRef" type="text" class="update-input" value="{{ post['driverRef'] }}" style="display: none;">
        </td>
        <td class="editable">
          <span>{{ post['nationality'] }}</span>
          <input id="nationality" type="text" class="update-input" value="{{ post['nationality'] }}"
            style="display: none;">
        </td>
        {% if g.user %}
        <td>
          <input type="checkbox" onclick="handleCheckboxClick(this)">
        </td>
        <td>
          <button class="edit-button" type="button" onclick="handleButtonClick(this)">Edit</button>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <input type="hidden" id="driver_ids" name="driver_ids">


  <nav class="pagination-drivers">

    {% if page > 10 %}
        <a class="previous-button" href="?search={{ search_term }}&&search_surname={{search_term_surname}}&&nationality={{ selected_nationality }}&page={{ page - 10 }}">Previous 10</a>
    {% endif %}

    {% if page > 1 %}
        <a class="previous-button"  href="?search={{ search_term }}&&search_surname={{search_term_surname}}&&nationality={{ selected_nationality }}&page={{ page - 1 }}">Previous</a>
    {% endif %}

    {% set start_page = page - 5 if page - 5 > 0 else 1 %}
    {% set end_page = start_page + 9 if start_page + 9 <= total_pages else total_pages %}

    {% for i in range(start_page, end_page + 1) %}
        {% if i == page %}
            <button class="current-page" disabled>{{ i }}</button>
        {% else %}
            <a  class="other-pages" href="?search={{ search_term }}&&search_surname={{search_term_surname}}&&nationality={{ selected_nationality }}&page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    

    {% if results|length == RESULTS_PER_PAGE and end_page < total_pages %}
        <a class="next-button" href="?search={{ search_term }}&&search_surname={{search_term_surname}}&&nationality={{ selected_nationality }}&page={{ end_page + 1 }}">Next 10</a>
    {% endif %}

    {% if page + 10 <= total_pages %}
        <a class="next-button" href="?search={{ search_term }}&&search_surname={{search_term_surname}}&&nationality={{ selected_nationality }}&page={{ page + 10 }}">Next 10</a>
    {% endif %}

    {% if page < total_pages %}
        <a class="next-button" href="?search={{ search_term }}&&search_surname={{search_term_surname}}&&nationality={{ selected_nationality }}&page={{ page + 1 }}">Next</a>
    {% endif %}
    {% if g.user %}
        <div class="user-actions">
            <button class="update-button" type="button" onclick="updateBackend()">Update</button>
            <button class="delete-button" type="button" onclick="deleteSelectedDrivers()">Delete Selected Drivers</button>
        </div>
    {% endif %}
</nav>

  {% if g.user %}
  <form class="create" method="post" action="{{ url_for('drivers.create') }}">
    <label for="driverId">Driver ID:</label>
    <input class="create-input" type="text" id="driverId" name="driverId" required>

    <label for="driverRef">Driver Ref:</label>
    <input class="create-input" type="text" id="driverRef" name="driverRef" required>

    <label for="forename">Forename:</label>
    <input class="create-input" type="text" id="forename" name="forename" required>

    <label for="surname">Surname:</label>
    <input class="create-input" type="text" id="surname" name="surname" required>

    <label for="nationality">Nationality:</label>
    <input class="create-input" type="text" id="nationality" name="nationality" required>

    <button type="submit" onclick="onCreateDriver">Create</button>
  </form>
  {% endif %}

  
</body>
{% endblock %}









