<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drivers</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>Drivers</h1>

  <form id="searchForm" action="{{ url_for('drivers.index') }}" method="GET" onsubmit="saveAndSubmitForms()">
    <label for="search">Search by First Name:</label>
    <input class="search-input" type="text" id="search" name="search" placeholder="Enter first name">
    <button type="submit">Search</button>

    <button type="button" onclick="toggleAdvancedSearch()">Advanced Search</button>

    <div id="advanced-search" style="display: none;">

      <label for="nationality">Nationality:</label>
      <select id="nationality" name="nationality">
        <option value="">All</option> <!-- Updated this line -->
        {% if distinct_nationalities %}
        <p>Data exists: {{ distinct_nationalities }}</p>
        {% for nationality in distinct_nationalities %}
        <option value="{{ nationality }}" {% if selected_nationality==nationality %}selected{% endif %}>{{ nationality
          }}</option>
        {% endfor %}
        {% else %}
        <p>No data found</p>
        {% endif %}

      </select>
    </div>
  </form>

  <table class="table-container" border="1">
    <thead>
      <tr>
        <th>Driver ID</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Driver Reference</th>
        <th>Nationality</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
    <tr class="driver-row" data-driver-id="{{ post['driverId'] }}">
      <td>{{ post['driverId'] }}</td>
      <td class="editable">
        <span>{{ post['forename'] }}</span>
        <input id="forename" type="text" class="update-input" value="{{ post['forename'] }}" style="display: none;">
      </td>
      <td class="editable">
        <span>{{ post['surname'] }}</span>
        <input id="surname" type="text" class="update-input" value="{{ post['surname'] }}" style="display: none;">
      </td>
      <td class="editable">
        <span>{{ post['driverRef'] }}</span>
        <input id="driverRef" type="text" class="update-input" value="{{ post['driverRef'] }}" style="display: none;">
      </td>
      <td class="editable">
        <span>{{ post['nationality'] }}</span>
        <input id="nationality" type="text" class="update-input" value="{{ post['nationality'] }}" style="display: none;">
      </td>
      <td>
        <input type="checkbox" onclick="handleCheckboxClick(this)">
      </td>
      <td>
        <button class="edit-button" type="button" onclick="handleButtonClick(this)">Edit</button>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <input type="hidden" id="driver_ids" name="driver_ids">

<!-- Delete button -->
<button class="update-button" type="button" onclick="updateBackend()">Update</button>
<button class="delete-button" type="button" onclick="deleteSelectedDrivers()">Delete Selected Drivers</button>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-MC2CB1nZFz7ZSJlGWeNciFuECM7hA31BlDhzNMz8Tpj2Y6zD8WqUvVLON5khbt6X" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var rows = document.querySelectorAll('.driver-row');

      rows.forEach(function(row) {
          row.addEventListener('click', function() {
            if (event.target.tagName.toLowerCase() === 'input') {
                // If it's an input, do nothing (or handle the input click as needed)
                return;
            }
              var driverId = row.getAttribute('data-driver-id');
              var url = '{{ url_for("drivers.driver_details", driver_id=0, _external=True) }}' + driverId.toString() + '/details';
              window.location.href = url.replace('/details', '');
          });
      });
  });

    // Function to handle checkbox click
    function handleCheckboxClick(checkbox) {
          // Stop the propagation of the click event to prevent navigation
    event.stopPropagation();
    // Get the row associated with the checkbox
    var row = checkbox.closest('.driver-row');

    // Toggle the 'selected' class on the row
    row.classList.toggle('selected');

    // Update the list of selected driver IDs
    updateSelectedDrivers();
  }

  function updateSelectedDrivers() {
    var selectedDrivers = document.querySelectorAll('.driver-row.selected');
    var driverIds = [];

    // Iterate over selected rows and extract driver IDs
    selectedDrivers.forEach(function (row) {
      var driverId = row.getAttribute('data-driver-id');
      driverIds.push(driverId);
    });

    // Update the hidden input with the selected driver IDs
    document.getElementById('driver_ids').value = JSON.stringify(driverIds);
  }

  function handleButtonClick(button) {
    event.stopPropagation();
    var row = button.closest('.driver-row');
    var editableCells = row.querySelectorAll('.editable');

    // Toggle visibility of text and input elements within the row
    editableCells.forEach(function(editableCell) {
      var spanElement = editableCell.querySelector('span');
      var inputElement = editableCell.querySelector('input');

      spanElement.style.display = spanElement.style.display === 'none' ? 'inline' : 'none';
      inputElement.style.display = inputElement.style.display === 'none' ? 'inline' : 'none';
    });
  }
  




</script>
 
  <form class="create" method="post" action="{{ url_for('drivers.create') }}">
    <label for="driverId">Driver ID:</label>
    <input class="create-input" type="text" id="driverId" name="driverId" required>

    <label for="driverRef">Driver Ref:</label>
    <input class="create-input" type="text" id="driverRef" name="driverRef" required>

    <label for="forename">Forename:</label>
    <input class="create-input" type="text" id="forename" name="forename" required>

    <label for="surname">Surname:</label>
    <input class="create-input" type="text" id="surname" name="surname" required>

    <label for="nationality">Nationality:</label>
    <input class="create-input" type="text" id="nationality" name="nationality" required>

    <button type="submit">Create</button>
  </form>
</body>

<script>

  function toggleAdvancedSearch() {
    var advancedSearchDiv = document.getElementById("advanced-search");
    advancedSearchDiv.style.display = (advancedSearchDiv.style.display === "none") ? "block" : "none";
    console.log("Advanced Search visibility:", advancedSearchDiv.style.display);
  }

  function saveAdvancedSearchState() {
    var advancedSearchDiv = document.getElementById("advanced-search");
    var isVisible = (advancedSearchDiv.style.display === "block");
    localStorage.setItem("advanced_search_visible", isVisible);
    
  }

  function saveAndSubmitForms() {
        saveAdvancedSearchState(); // Call your function to save advanced search state
        document.getElementById("paginationForm").submit(); // Submit the second form
  }
    // Function to save the selected value in local storage
    function saveDriversPerPage() {
        var selectedValue = document.getElementById("drivers_per_page").value;
        localStorage.setItem("driversPerPage", selectedValue);
    }

    // Set the selected value when the page loads
    document.addEventListener("DOMContentLoaded", function () {
        var savedValue = localStorage.getItem("driversPerPage");
        if (savedValue !== null) {
            document.getElementById("drivers_per_page").value = savedValue;
        }
    });
  // Restore advanced search state on page load
  // Restore advanced search state on page load
  window.onload = function() {
      var storedState = localStorage.getItem("advanced_search_visible");
      if (storedState === "true") {
          document.getElementById("advanced-search").style.display = "block";
      }
  };

  function toggleDetails(index) {
    var detailsRow = document.getElementById("details-" + index);
    detailsRow.style.display = (detailsRow.style.display === 'none') ? '' : 'none';
  }

  function deleteSelectedDrivers() {
  // Retrieve the list of selected driver IDs from the hidden input
  var driverIds = JSON.parse(document.getElementById('driver_ids').value);
    console.log("delete_function_isrunning")
  // Send the selected driver IDs to the server using AJAX
  fetch('/drivers/delete', {
    method: 'DELETE',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json', // Add this line
    },
    body: JSON.stringify({ driver_ids: driverIds }),
  })
  .then(response => {
    if (!response.ok) {
      throw new Error(`HTTP error! Status: ${response.status}`);
    }
    return response.json();
  })
  .then(data => {
    console.log('Success:', data);
    // Optionally, update the UI or perform other actions based on the server response
  })
  .catch((error) => {
    console.error('Error:', error);
    // Handle errors as needed
  });
  window.location.reload()
}
function updateBackend() {
    var rows = document.querySelectorAll('.driver-row');
    var updatedData = [];

    rows.forEach(function(row) {
      var driverId = row.getAttribute('data-driver-id');
        var forename = row.querySelector('.editable input[id="forename"]').value;
        var surname = row.querySelector('.editable input[id="surname"]').value;
        var driverRef = row.querySelector('.editable input[id="driverRef"]').value;
        var nationality = row.querySelector('.editable input[id="nationality"]').value;

      updatedData.push({
        driverId: driverId,
        forename: forename,
        surname: surname,
        driverRef: driverRef,
        nationality: nationality
        // Add more fields as needed
      });
    });

  // Make an AJAX request to update the backend
  fetch('drivers/update', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ data: updatedData }),
  })
    .then(response => response.json())
    .then(data => {
      // Handle the response from the server if needed
      console.log('Update successful', data);
    })
    .catch(error => {
      console.error('Error updating backend', error);
    });
}

</script>

<script>
  // // Get the current URL using JavaScript
  // var currentUrl = window.location.href;

  // // Send the URL to the server using an HTTP request (you might want to use AJAX for this)
  // fetch('/url', {
  //     method: 'POST',
  //     headers: {
  //         'Content-Type': 'application/json',
  //     },
  //     body: JSON.stringify({ url: currentUrl }),
  // });
</script>

</html>