{% extends "base.html" %}
{% block header %}
<div class="header-container">
  <h1><a class="home-button" href="{{ url_for('index') }}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/F1.svg/1920px-F1.svg.png" alt="Formula1 Logo"></a></h1>
</div>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
<h1 class="login-head" >{% block title %}Log In{% endblock %}</h1>
  <form class="create" method="post">
    <label class="create-label" for="username">Username</label>
    <input class="create-input" name="username" id="username" required>
    <label class="create-label" for="password">Password</label>
    <input class="create-input" type="password" name="password" id="password" required>
    <input class="login-submit" type="submit" value="Log In">
  </form>
{% endblock %}